DMM_API_ID=
DMM_AFFILIATE_ID=
FANZA_API_ID=
FANZA_AFFILIATE_ID=
DUGA_ACTRESS_FEED_URL=
APEX_ACTRESS_FEED_URL=
MGS_ACTRESS_FEED_URL=
SOD_ACTRESS_FEED_URL=
DTICASH_ACTRESS_FEED_URL=
VITE_DMM_AFFILIATE_ID=
VITE_FANZA_AFFILIATE_ID=
VITE_DUGA_AFFILIATE_URL=
VITE_MGS_AFFILIATE_URL=
VITE_SOD_AFFILIATE_URL=
VITE_DTICASH_AFFILIATE_URL=
DMM_ACTRESS_HITS=100
DMM_ACTRESS_MAX_PAGES=10000
DMM_REQUEST_DELAY_MS=750
DMM_RESUME=true
# DMM_START_OFFSET=1
DMM_API_SITE=FANZA
DMM_API_SERVICE=digital
DMM_API_FLOOR=videoa
DMM_ITEM_HITS=100
DMM_ITEM_MAX_PAGES=10000
